@model Entities.ContactRec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactRec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
